.input {
	outline: none;
	user-select: none;
	border-width: 1px;
	border-radius: 1rem;
	border-color: #e7e7e9;
	font-size: 16px;
	font-family: inherit;
	height: 42px;
	padding: 1rem;

	&:active,
	&:hover,
	&:focus {
		box-shadow: 2px 2px 2px 2px rgb(247, 173, 173);
		transition: box-shadow 0.3s linear;
	}
}
