.btn {
	border-radius: 6px;
	padding: 8px 12px;
	font-size: 18px;
	font-weight: 600;
	max-width: 140px;
	background-color: rgb(19, 19, 131);
	color: white;
	cursor: pointer;
}

.disabledBtn {
	background-color: #ccc;
	cursor: not-allowed;
}
