.review {
	display: flex;
	justify-content: space-between;
	padding: 0.4rem;
	border: 1px solid lightgray;
	border-radius: 6px;
}

.review:hover {
	background-color: rgb(189, 189, 189);
}

.author {
	font-weight: 600;
}
