// .container {
// 	background: darkcyan;
// 	display: flex;
// }
.main {
	display: flex;
	gap: 1rem;
	margin-top: 40px;

	.filterBar {
		display: flex;
		flex-direction: column;
		border: 0.5px solid rgb(206, 206, 206);
		border-radius: 12px;
		// background-color: hsl(29, 95%, 64%);
		// flex-basis: 300px;
		// flex-grow: 0.3;
		min-width: 250px;
		padding: 0.5rem 1rem;
	}

	.content {
		// flex-grow: 0.7;
		width: calc(100% - 250px);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 1.5rem;
		// padding-top: 1rem;
		// background-color: $primary-color;
	}
}
