@use '../../styles/mixins';

%page-base {
	margin: 0 auto;
	max-width: 1168px;
	margin-top: 20px;
	position: relative;
	min-height: 80dvh;
}

.pageLight {
	@extend %page-base;
}

.pageDark {
	@extend %page-base;

	input,
	textarea,
	// button,
	select {
		@include mixins.dark-background-bright-font;
	}
}
