/* // @use '../../styles/variables'; */
.main {
	z-index: 10;
	background-color: #003b95;
	height: 10dvh;
	position: sticky;
	top: 0;
}

.headerContent {
	display: flex;
	justify-content: space-between;
	max-width: 1168px;
	margin: 0 auto;
	z-index: 20;
}

.logo {
	font-size: 30px;
	color: white;
}
