.searchColumn {
	background-color: hsl(34, 86%, 52%);
	border: 1px solid rgb(248, 247, 247);
	/* border-radius: 8px; */
	/* min-width: 220px; */
	display: flex;
	flex-basis: 150px;

	/* flex-shrink: 0.5; */
	padding: 0.5rem 1rem;
	/* flex: 1; */
	max-height: 300px;
	/* line-height: 2rem; */
	flex-direction: column;
	gap: 1rem;
}

.searchColumn > h1 {
	font-size: 24px;
	font-weight: 700;
}

.searchColumn > label {
	font-size: 12px;
}
.searchColumn > input {
	border: none;
}

.select {
	font-size: 18px;
	border: none;
	background-color: #f2f2f2;
	padding: 0.5rem 0.5rem;
}

.select option {
	/* background-color: #f2f2f2; */
	padding: 0.2rem 0.4rem;
}
@media screen and (max-width: 1068px) {
	.filterColumn {
		display: none;
	}
}
