.searchColumn {
	background-color: hsl(34, 86%, 52%);
	border: 1px solid rgb(248, 247, 247);
	display: flex;
	flex-basis: 150px;
	padding: 0.5rem 1rem;
	max-height: 300px;
	flex-direction: column;
	gap: 1rem;
}

.searchColumnDark {
	background-color: hsl(0, 8%, 21%);
	border: 0.5px solid rgb(114, 99, 99);
	display: flex;
	flex-basis: 150px;
	padding: 0.5rem 1rem;
	max-height: 300px;
	flex-direction: column;
	gap: 1rem;
	color: var(--text-white);
}

.searchColumn > h1 {
	font-size: 24px;
	font-weight: 700;
}

.searchColumn > label {
	font-size: 12px;
}
.searchColumn > input {
	border: none;
}

.select {
	height: 2em;
	width: 100%;
	font-size: 16px;
	border: none;
	/* background-color: var(--background-white); */
	background-color: var(--background-dim-white);
	padding: 0.5rem 0.5rem;
	border-radius: 6px;
}

.select option {
	padding: 0.2rem 0.4rem;
}

@media screen and (max-width: 1068px) {
	.filterColumn {
		display: none;
	}
}
