.logo {
	font-size: 40px;
	font-weight: 600;

	a {
		text-decoration: none;
		font-size: inherit;
		// color: hsl(0, 100%, 99%);
		letter-spacing: 0;
	}

	a:hover {
		// color: hsl(36, 19%, 89%);
		color: var(--text-dim-white);
	}
}
